<p id="notice"><%= notice %></p>

<h1>Listing Chores</h1>

<table id="chores">
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>

    <% @chores.each do |chore| %>
      <%= render chore %>
    <% end %>
</table>

<br>

<h2>Enter a New Chore to Do</h2>
  <div id="form">
    <%= render :partial => "form" %>
  </div>

<%= link_to 'New Chore', new_chore_path %>
